.main {
    margin: auto;
    width: 80%;
    padding: 8px;
    border: solid 3px;
}
 
.container{
    border-top: solid 3px;
    margin: 10px -8px 0px -8px;
    
    height: 400px;
 }

.left-column{
    width: 50%;
    float: left;
    margin:8px;
}

.right-column{
    margin:8px;
    margin-left: 54%;
}

.price-title {
    display: inline-block;
    margin: 3%;
}

.price {
    display: inline-block;
}

.total-price {
    text-align: right;
}

table {
    margin-top: 8px;
    border-collapse: collapse;
}

tr:hover {
    cursor: pointer;
}

td {
    text-align: center;
}
